{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digitaldivide-HouseSet</title>
</head>
<body>
<table>
    <tr>
        <td>
            <a type="button" class="btn btn-lg btn-default" href="../get_result/"><span class="glyphicon glyphicon-flash"></span> Get a random house sample</a>
            <br><br>
            <form action="house_id/" method="post">{% csrf_token %}
                <p>House ID:
              <input type="text" name = 'txtUnitId'><br></p>

              <input type="submit" class="btn btn-lg btn-default" value="Get the details with House ID">
            </form>
        </td>
        <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
        <td>
                {% autoescape off %}{{ output_dump }}{% endautoescape %}
        </td>

    </tr>

</table>

 <br>
<div class="boxed" >

</div>


</body>
</html>
{% endblock %}