{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digitaldivide-HouseSet</title>
</head>
<body>
<table>
    <tr>
        <td>

            <a type="button" class="btn btn-lg btn-default" href="get_result"><span class="glyphicon glyphicon-flash"></span> Get another random house sample</a>


            <br><br>
            <a type="button" class="btn btn-lg btn-default" href="options_landing"><span class="glyphicon glyphicon-flash"></span> Give me more Options</a>
            <br><br>

            <a type="button" class="btn btn-lg btn-default" href="get_json"><span class="glyphicon glyphicon-flash"></span> Download JSON</a>
            <br><br>
            <a type="button" class="btn btn-lg btn-default" href="get_rspec"><span class="glyphicon glyphicon-flash"></span> Download RSPEC</a>
            <br><br>
            <a type="button" class="btn btn-lg btn-default" href="get_netem"><span class="glyphicon glyphicon-flash"></span> Show Netem</a>
            <br><br>


        </td>
        <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
        <td>
                {% autoescape off %}{{ output_dump }}{% endautoescape %}
        </td>

    </tr>

</table>

 <br>
<div class="boxed" >

</div>


</body>
</html>
{% endblock %}