{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Bridging the Digital Divide </h1>
    <p>A web application to help researchers to help emulate real households in test bed experiments</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Get a house sample</a>

  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To read, and learn the fundamentals of digitaldivide, head over to the <a href="https://github.com/csmithsalzberg/digitaldivide" class="alert-link">Github Repository.</a>
  </div>
  <hr>

   <div class="alert alert-info text-center" role="alert">

  </div>
</div>
{% endblock %}
