{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Bridging the Digital Divide </h1>
    <p>A web application to help researchers emulate real households in test bed experiments</p>
      <a type="button" class="btn btn-lg btn-default" href="get_result/"><span class="glyphicon glyphicon-flash"></span> Generate a random household sample</a><br><br><br>
      <a type="button" class="btn btn-lg btn-default" href="options_landing/"><span class="glyphicon glyphicon-flash"></span> Give me more Options</a>

  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To read, and learn the fundamentals of digitaldivide, head over to the <a href="https://github.com/csmithsalzberg/digitaldivide" class="alert-link">Github Repository.</a>
  </div>
  <hr>

</div>
{% endblock %}
